<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/m/css/bootstrap.min.css">
    <link rel="stylesheet" href="/m/font-awesome/css/font-awesome.css">
    <style>
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="/m/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/m/css/main.css">

    <script src="/m/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
	      <li {% if active == "home" %}class="active"{% endif %}><a class="brand" href="{{ home_page }}">Minino</a></li>
              <li {% if active == "start" %}class="active"{% endif %}><a href="{{get_page}}">Getting started</a></li>
              <li {% if active == "download" %}class="active"{% endif %}><a href="{{download_page}}">Download</a></li>
	      <li {% if active == "code" %}class="active"{% endif %}><a href="{{code_page}}">Code</a></li>
	      <li><a href="/m/doc/index.html">Doc</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block container %}

      {% endblock %}
      <hr>

      <footer>
        <p>Powered by minino. Check the <a href="https://github.com/pvieytes/minino.project.web">code.</a>  </p>
	<p>Minino - an Erlang web miniframework</p>
	<p> Minino project <a href="https://github.com/openshine/minino.project.web"><i class="icon-github icon-large"></i></a>   <a href="http://travis-ci.org/openshine/minino"><img src="https://secure.travis-ci.org/openshine/minino.png" alt="Build Status" style="max-width:100%;"></a></p>


      </footer>
    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

      <script src="/m/js/vendor/bootstrap.min.js"></script>

      <script src="/m/js/main.js"></script>

      <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
  </body>
</html>
